$backg: #fbfbfb;
$primary-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$fourth-color: #2c9c81;
$footer-bg:#363636;
$section-bg: #EFEFEF;
$box-bg: white;
$a: #f2f2f2;
$text-color: black;
$gps: #e4e4e4;
$locate: #2c2c2c;
$heart-gradient: #ff79da, #9356dc,#ff2dc5,#ffbc2d,#ff7300;
$font-logo: "Shrikhand";
$font-text: 'Roboto';
$plat-box-radius: 15px;
$plat-box-padding: 0px 30px 0px 10px;
$plat-box-margin: 15px;


